/*navbar section start*/

.navbar-container{
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}


.navbar-container-logo a{
    font-family: 'Kaushan Script', cursive;
    font-size: 32px;
    font-weight: 600;
    color: #292929;
}
a{
    text-decoration: none;
}
.navbar ul{
    display: flex;
    list-style-type: none;
 }
 
.navbar .mobile{
     display: none;
     flex-direction: column-reverse;
 }
.navbar ul li a {
    padding: 0px 25px;
    font-size: 12px;
    color: #898989;
    font-weight: 500;
    background: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.navbar ul li a:hover{
    color: #292929;
    box-shadow: inset 0 -8px 0 #fdd912;
	transition: all 0.4s ease 0s;
}

#control{
    display: none;
}

.control{
    display: none;
    cursor: pointer;
    margin: 14px;
}

.bars{
    font-size: 20px;
    color: black;
    float: right;
}


.slider{
    background-image: url(./image/slide-bg-1.jpg);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.navbar-positions{
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background: #ffffff;
	z-index: 1;
    padding: 20px 0px;
}

/* navbar section end*/

/* social section start*/

.social{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.social-text p{
    color: #ffffff;
    font-weight: 600;
    font-size: 100px;
    margin: 10px;
}

.social-info i{
    color: #ffffff;
    font-size: 20px;
    margin: 0px 10px;
}

.social-info{
    display: flex;
    justify-content: center;
}

.icon{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 85%;
    text-align: center;
}

.icon i{
    font-size: 24px;
    color: #ffffff;

}


.about-profil-info h1{
    font-size: 44px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    line-height: 56px;
}


.about-profil-info p{
    font-size: 15px;
    color: #999999;
    line-height: 28px;
}


.about-profil img{
    width: 90%;
}

/* social section end*/

/* service section start */

.service{
    background: #f9f9f9;

}

.service-content-item{
    width: calc(100%/3);
    margin: 20px 20px;
    padding: 0px;
}

.service-content-item:first-child{
    margin-left: 0px;
}

.service-content-item:last-child{
    margin-right: 0px;
}

.service-content-item i{
    font-size: 40px;
    color: #fdd912;
}

.service-content-item p{
    font-size: 13px;
    color: #999999;
}

.service-content-item h5{
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #292929;
    font-weight: 500;
}
/* service section end */

/* works section start */

.titles{
    margin-bottom: 20px;
}

.titles a{
    margin-right: 40px;
    color: rgb(153, 153, 153);
    font-size: 15px;
    font-weight: 300;
}

.titles a:first-child{
    color: #fdd912;
}

.works-content-item{
    width: calc(100%/3);
    margin: 20px 20px;
    transition: all 0.5s ease;
}

.works-content-item:hover{
    transform: translate(0px,-10px);
    -webkit-transform: translate(0px,-10px);
    -moz-transform: translate(0px,-10px);
}

.works-content-item img{
    box-sizing: border-box;
    width: 100%;
}

.works-content-item:first-child{
    margin-left: 0px;
}
   
.works-content-item:last-child{
    margin-right: 0px;
}

/* works section end */

/* blog section start */

.blog{
    background: #f9f9f9;
}

.blog-content-item{
    width: calc(100%/3);
    margin: 20px 20px;
    transition: all 0.5s ease;
}

.blog-content-item img{
    box-sizing: border-box;
    width: 100%;
}

.blog-content-item:first-child{
    margin-left: 0px;
}

.blog-content-item:last-child{
    margin-right: 0px;
}

.blog-content-item a p{
    font-size: 19px;
    font-weight: 500;
    color: #292929;
}

.blog-text{
    font-size: 14px;
    color:#999999;
}

.blog-date{
    font-size: 12px;
    font-weight: 400;
    color:#b9b9b9;
}

/* blog section end */

/* contact section start*/

.form-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}


input{
	padding: 0;
	width: 100%;
	height: 48px;
	outline: none;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


textarea{
    margin: 40px 0px 30px 0px;
	padding: 0;
	width: 100%;
	height: 120px;
	outline: none;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.socials a i{
    font-size: 30px;
    margin: 0px 10px;
    color: #292929;
    padding-top: 120px;
}

.footer p{
    font-size: 14px;
    color: #898989;
    padding-bottom: 60px;
}
/* contact section end*/